<li><%= link_to 'Change Password', edit_user_registration_path %></li>
<li><%= link_to 'Edit Profile', edit_profile_path %></li>
<li class="divider"></li>
<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>